body {
    background-image: url(https://d.wattpad.com/story_parts/137788668/images/13e740945f3885af.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

p {
    margin:8px 0;
}

ul{
    margin: 0;
    padding:0;
}

li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#details{
    color:#fcfcfc;
}

button {
    display: block;
    padding: 10px 10px;
    margin: 10px 0;
    background-color: #D16C3B;
    border-radius: 8px;
    font-style: italic;
    font-size: 16px;
    border-color: #4C2F1D;
    color: #4C2F1D;
    font-weight: 900;
    width: 96px;
}

    button:hover {
        background-color: #d07e57;
    }

a:link {
    color: #fcfcfc;
}

a:visited {
    color: #fcfcfc;
}

a:hover {
    color: #fcfcfc;
}

a:active {
    color: #fcfcfc;
}

/*@media only screen 
and (max-width:740px){
    .col-md-3 > button, #list > li {
        display: inline-block;
        margin: 5px 10px;
    }
    body{
        margin: 10px 0;
    }
    #details{
        margin: 50px 0;
    }
}*/
